# ROS2
build/
install/
log/

# ROS bag data
rosbag/
rosbag2_*/

# C/C++ build files
*.o
*.out

# Python
__pycache__/
*.pyc

# Editor
.vscode/

# Temporary files
*~

# Calibration test executables
tests/radius/line_10m
tests/tread/spin_10turns
tests/wheel_check/wheel_individual_test